@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
$primaryBtn: #3772FF;
$primaryBg: #12130F;
$secondaryBg: #FDFFFC;
$tertiaryBg: #3772FF;
$navbarBg: #3772FF;
$textWhite: #fff;
$textSecondary:#3772FF;

body {
    background-color: $primaryBg!important;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif!important;
    overflow-x: hidden!important;
    scroll-behavior: smooth;
}

.navbar {
    background-color: $navbarBg!important;
    color: $textWhite!important;
}

.main-container {
    min-height: 80vh;
    color: $textWhite;
}

// FOOTER

.footer {
}

.top-footer {
    background-color: $secondaryBg ;
}

.bottom-footer {
     background-color: $tertiaryBg;
     ul {
        li {
            text-align: center;
            list-style: none;
            display: inline;
            a {
                i {
                    font-size: 3rem;
                    padding: 1rem;
                    color: $textWhite;
                }
            }
        }
     }
}

form input,
form textarea {
    width: 80%;
    background-color: $secondaryBg;
    color: #212529;
    outline: none;
    box-shadow: 5px 5px rgb(0 0 0 / 4%);
}

form input {
    height: 3rem;
    border: none;
    margin-bottom: 2rem;
    font-size: large;
}

form textarea {
    height: 10rem;
    margin-bottom: 2rem;
    color: #212529;
    border: none;
}

form ::placeholder {
    color: #212529;
}




// BTN
.primaryBtn {
    width: 10rem;
    height: 3rem;
    border: .3rem solid $primaryBtn;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: $primaryBg;
    color: $textSecondary;
        p {
            margin-bottom: .1rem;
        }
}
