$primaryBtn: #DEA54B;
$primaryBg: #fff;
$secondaryBg: #424B54;
$tertiaryBg: #93A8AC;
$navbarBg: #DEA54B;
$textWhite: #fff;
$textSecondary:#DEA54B;

body {
    background-color: blue;
}

.navbar {
    background-color: $navbarBg!important;
}

.main-container {
    min-height: 80vh;
}

// FOOTER

.footer {
}

.top-footer {
    height: 3rem;
    background-color: $secondaryBg ;
}

.bottom-footer {
     height: 10rem;
     background-color: $tertiaryBg;
}

// BTN
.primaryBtn {
    width: 10rem;
    height: 3rem;
    border: .3rem solid $primaryBtn;
    border-radius: 3rem;
    background-color: $primaryBg;
    font-weight: 700;
    font-size: 1.2rem;
    color: $textSecondary;
        p {
            margin-bottom: .1rem;
        }
}
