@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #3E3D36;
  color: #FEFFEA;
  font-family: "Oswald", sans-serif;
}

header .sidenav {
  background-color: #3E3D36;
}
header .sidenav a {
  height: 48px;
  font-size: 1.8rem;
  color: #FEFFEA;
  font-weight: 500;
  margin-bottom: 0rem;
  border-bottom: 3px solid transparent;
  padding: 0;
  margin: 1rem 55% 0 2rem;
}
header .sidenav a:hover,
header .sidenav a:active {
  background-color: transparent !important;
  color: #ffc927;
  border-bottom: 3px solid #ffc927;
  transition: 0.1s ease-in-out;
}

nav {
  background-color: #3E3D36;
  box-shadow: none !important;
}
nav a {
  height: 48px;
  font-size: 1.8rem;
  color: #FEFFEA;
  font-weight: 500;
  margin-bottom: 0rem;
  border-bottom: 3px solid transparent;
}
nav .brand-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FEFFEA;
  color: #3E3D36;
  margin-left: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}
nav .brand-logo span {
  color: #ffc927;
}
nav .nav-extended {
  height: auto;
  box-shadow: none;
}
nav ul a {
  margin-right: 1rem;
  padding: 0px;
}
nav ul a:hover {
  background-color: transparent !important;
  border-bottom: 3px solid #ffc927;
  transition: 0.1s ease-in-out;
}

.intro-container {
  margin-top: 5rem;
}
.intro-container h1 {
  font-size: 5rem;
  margin-top: 0px;
}
.intro-container h1 span {
  color: #ffc927;
  border-bottom: 2px solid #FEFFEA;
}
.intro-container h2 {
  font-size: 2rem;
}
.intro-container p {
  font-size: 1.5rem;
}
.intro-container .social-icons {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.intro-container ul {
  display: inline-flex;
}
.intro-container ul i {
  font-size: 2.5rem;
  padding-right: 0.5rem;
  color: #FEFFEA;
}
.intro-container .btn-group a {
  margin-right: 0.5rem;
}
.intro-container .intro-img {
  border-radius: 50%;
}
.intro-container img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}

.skills-container {
  min-height: 80vh;
  margin-top: 5rem;
  color: #3E3D36;
}
.skills-container .card-1,
.skills-container .card-2 {
  padding: 0;
  text-align: center;
}
.skills-container .card-1 .block-divider,
.skills-container .card-2 .block-divider {
  width: 70%;
  height: 0.3rem;
  border: 0;
  background-color: #3E3D36;
  margin: 0 auto;
  border-radius: 25px;
}
.skills-container .card-1 p,
.skills-container .card-2 p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}
.skills-container .card-1 {
  background-color: #ffc927;
}
.skills-container .card-2 {
  background-color: #FEFFEA;
}

.contact-container {
  min-height: 70vh;
  margin-bottom: 5rem;
}
.contact-container h1 {
  text-align: center;
  margin-bottom: 4rem;
}
.contact-container h1 span {
  border-bottom: 2px solid #ffc927;
}
.contact-container form {
  border-radius: 25px;
  padding: 1rem;
  margin-bottom: 4rem;
}
.contact-container form input,
.contact-container form textarea {
  color: #ffc927;
}
.contact-container form label.active {
  color: #FEFFEA !important;
}
.contact-container form input[type=text]:not(browser-default):focus:not([readonly]),
.contact-container form input[type=email]:not(browser-default):focus:not([readonly]),
.contact-container form textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffc927;
  box-shadow: 0 1px 0 0 #ffc927;
}

.primary-btn {
  text-align: center;
  letter-spacing: 0.5px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1.5rem;
  height: 40px;
  color: #ffc927;
  background-color: #3E3D36;
  border: 2px solid #ffc927;
}

.secoundary-btn {
  text-align: center;
  letter-spacing: 0.5px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1.5rem;
  height: 40px;
  color: #3E3D36;
  background-color: #ffc927;
  border: 2px solid transparent;
}

.primary-btn:hover,
.primary-btn:active {
  background-color: #ffc927;
  color: #3E3D36;
  box-shadow: none;
}

.secoundary-btn:hover,
.secoundary-btn:active {
  background-color: #3E3D36;
  color: #ffc927;
  border: 2px solid #ffc927;
}

.page-footer {
  padding-top: 3rem;
  text-align: center;
  background-color: #3E3D36;
}
.page-footer a {
  color: #ffc927 !important;
  display: inline-flex;
}
.page-footer ul {
  display: inline-flex;
  padding-bottom: 2rem;
}
.page-footer ul i {
  font-size: 2.5rem;
  padding-right: 0.5rem;
  color: #FEFFEA;
}
.page-footer .footer-links li {
  margin: 0.5rem;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc927;
}

::-webkit-scrollbar-track {
  background-color: #FEFFEA;
}/*# sourceMappingURL=style.css.map */