$primary-bg: rgb(0, 0, 0);
$secoundary-bg: rgb(33, 192, 171);
$tertiary-bg: white;
$primary-color: white;
$secoundary-color:rgb(33, 192, 171);
$tertiary-color: black;

@mixin primary-btn {
    text-align: center;
    letter-spacing: .5px;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-weight: 600;
    border-radius: 1.5rem;
    box-shadow: none;
    height: 40px;
}

* {
    margin: 0;
    padding: 0;
    // border: 2px solid red;
    scroll-behavior: smooth;
}

body {
    background-color: $primary-bg;
    color: $primary-color;
}

// NAVBAR
nav {
    background-color: $primary-bg;
    a {
        height: 48px;
        font-size: 1.8rem;
        color: $primary-color;
        font-weight: 500;
        margin-bottom: 0rem;
        border-bottom: 3px solid transparent;
    }

    .brand-logo {
        margin-left: 2rem;
        font-size: 3rem;
        font-weight: 600;
        cursor: pointer;
        transition: .3s ease;
    }

    .nav-extended {
        height: auto;
        box-shadow: none;
    }
    ul {
        a {
            margin-right: 1rem;
            padding: 0px;
        }
        a:hover {
            background-color: transparent!important;
            border-bottom: 3px solid $secoundary-color;
            transition: .1s ease-in-out;
        }
    }
}


// CONTAINERS
.intro-container {
    height: 100vh;
    margin-top: 3rem;
    h1 {
        font-size: 5rem;
    }
    p {
        font-size: 1.5rem;
    }
    .social-icons {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    ul {
        display: inline-flex;
        i {
            font-size: 2.5rem;
            padding-right: .5rem;
            color: $primary-color;
        } 
    }
    .btn-group {
        a {
            margin-right: .5rem;
        }
    }
}

.skills-container {
    min-height: 100vh;

}

.projects-container {
    min-height: 100vh;
    
}

.contact-container {
    min-height: 100vh;
    margin-bottom: 5rem;
    h1 {
        text-align: center;
        margin-bottom: 4rem;
    }
    form {
        border-radius: 25px;
        padding: 1rem;
        box-shadow: 0px 0px 25px 0px rgba(33,192,171,1);
        margin-bottom: 4rem;
    }
}


// BUTTONS

.primary-btn {
    @include primary-btn;
    color: $secoundary-color;
    background-color: white;
    border: 2px solid $secoundary-color;
}

.secoundary-btn {
    @include primary-btn;
    color: rgb(255, 255, 255);
    background-color: $secoundary-bg;
    border: 2px solid transparent;
}

.primary-btn:hover {
    background-color: $secoundary-bg;
    color: $primary-color;
    box-shadow: none;
}

.secoundary-btn:hover {
    background-color: $tertiary-bg;
    color: $secoundary-color;
    border: 2px solid $secoundary-color;
}

// FOOTER CONTENT

.page-footer {
    background-color: $secoundary-bg!important;
    a {
        color: $tertiary-color!important;
        display: inline-flex;
    }

}
