$primary-bg: rgba(124, 115, 115, 0.562);

@mixin primary-btn {
    text-align: center;
    letter-spacing: .5px;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-weight: 600;
    border-radius: 1.5rem;
    box-shadow: none;
    height: 40px;
}

* {
    margin: 0;
    padding: 0;
    // border: 2px solid red;
    scroll-behavior: smooth;
}

// NAVBAR
nav {
    background-color: $primary-bg;
    a {
        height: 48px;
        font-size: 1.8rem;
        color: black!important;
        font-weight: 500;
        margin-bottom: 0rem;
        border-bottom: 3px solid transparent;
    }

    .brand-logo {
        margin-left: 2rem;
        font-size: 3rem;
        font-weight: 600;
        cursor: pointer;
        transition: .3s ease;
    }

    .nav-extended {
        height: auto;
        box-shadow: none;
    }
    ul {
        a {
            margin-right: 1rem;
            padding: 0px;
        }
        a:hover {
            background-color: transparent!important;
            border-bottom: 3px solid red;
            transition: .1s ease-in-out;
        }
    }
}


// CONTAINERS
.intro-container {
    height: 100vh;
    margin-top: 3rem;
    h1 {
        font-size: 5rem;
    }
    p {
        font-size: 1.5rem;
    }
    .social-icons {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    ul {
        display: inline-flex;
        i {
            font-size: 2.5rem;
            padding-right: .5rem;
        } 
    }
}

.contact-container {
    margin-bottom: 5rem;
}



form {
    border: 2px solid red;
    border-radius: 25px;
    padding: 1rem;
}

// BUTTONS

.primary-btn {
    @include primary-btn;
    color: red;
    background-color: white;
    border: 2px solid red;
}

.secoundary-btn {
    @include primary-btn;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}


.btn-group {
    a:hover {
        background-color: red;
        box-shadow: none;
    }
}


