@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

$primary-bg: #545249;
$secoundary-bg: #DAC75B;
$tertiary-bg: #FEFFEA;
$primary-color: #FEFFEA;
$secoundary-color:#DAC75B;
$tertiary-color: #545249;

@mixin primary-btn {
    text-align: center;
    letter-spacing: .5px;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-weight: 600;
    border-radius: 1.5rem;
    height: 40px;
}

@mixin social-icons {
    font-size: 2.5rem;
    padding-right: .5rem;
    color: $primary-color;
}

* {
    margin: 0;
    padding: 0;
    // border: 2px solid red;
    scroll-behavior: smooth;
}

body {
    background-color: $primary-bg;
    color: $primary-color;
    font-family: 'Oswald', sans-serif;
}

// NAVBAR
nav {
    background-color: $primary-bg;
    box-shadow: none!important;
    a {
        height: 48px;
        font-size: 1.8rem;
        color: $primary-color;
        font-weight: 500;
        margin-bottom: 0rem;
        border-bottom: 3px solid transparent;
    }

    .brand-logo {
        margin-left: 2rem;
        font-size: 2rem;
        font-weight: 600;
        cursor: pointer;
        transition: .3s ease;
        span {
            color: $secoundary-color;
        }
    }

    .nav-extended {
        height: auto;
        box-shadow: none;
    }
    ul {
        a {
            margin-right: 1rem;
            padding: 0px;
        }
        a:hover {
            background-color: transparent!important;
            border-bottom: 3px solid $secoundary-color;
            transition: .1s ease-in-out;
        }
    }
}


// CONTAINERS
.intro-container {
    height: 100vh;
    margin-top: 3rem;
    h1 {
        font-size: 5rem;
    }
    p {
        font-size: 1.5rem;
    }
    .social-icons {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    ul {
        display: inline-flex;
        i {
            @include social-icons;
        } 
    }
    .btn-group {
        a {
            margin-right: .5rem;
        }
    }

    .intro-img {
        border-radius: 50%;
        margin-top: 4rem;
    }
    img {
        object-fit: cover;
        width: 32vw;
        border-radius: 50%;
        box-shadow: 0 0 25px $secoundary-bg;
    }
}

.skills-container {
    min-height: 100vh;
    margin-top: 5rem;
    .card-panel {
        margin-bottom: 0rem;
        background-color: $secoundary-bg;
        border-radius: 20px;
        border: 3px solid transparent;
        h2 {
            font-size: 2rem;
        }
        p {
            margin-bottom: 3rem;
            line-height: 1.7;
        }
    }
    .card-panel:hover {
        background-color: $tertiary-bg;
        color: $tertiary-color;
        transform: scale(1.03);
    }
}

.projects-container {
    min-height: 100vh;
    
}

.contact-container {
    min-height: 70vh;
    margin-bottom: 5rem;
    h1 {
        text-align: center;
        margin-bottom: 4rem;
        span {
            border-bottom: 2px solid $secoundary-color;
        }
    }
    form {
        border-radius: 25px;
        padding: 1rem;
        // box-shadow: 0px 0px 25px 0px $secoundary-bg;
        margin-bottom: 4rem;
        input,
        textarea {
            color: $secoundary-color
        }
        label.active,
        input::after {
            color: #FEFFEA!important;
        }
    }
}


// BUTTONS

.primary-btn {
    @include primary-btn;
    color: $secoundary-color;
    background-color: $primary-bg;
    border: 2px solid $secoundary-color;
}

.secoundary-btn {
    @include primary-btn;
    color: $tertiary-color;
    background-color: $secoundary-bg;
    border: 2px solid transparent;
}

.primary-btn:hover,
.primary-btn:active {
    background-color: $secoundary-bg;
    color: $tertiary-color;
    box-shadow: none;
}

.secoundary-btn:hover,
.secoundary-btn:active {
    background-color: $primary-bg;
    color: $secoundary-color;
    border: 2px solid $secoundary-color;
}

// FOOTER CONTENT

.page-footer {
    padding-top: 3rem;
    text-align: center;
    background-color: $primary-bg;
    a {
        color: $secoundary-color!important;
        display: inline-flex;
    }
    ul {
        display: inline-flex;
        padding-bottom: 2rem;
        i {
            @include social-icons;
        }
    }

    .footer-links {
        li {
            margin: .5rem;
        }
    }
}
